<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/products.css" />

<body>
  <div class="products-container">
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/product/all">Products</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="store-products-frame">
      <div class="board">
        <div class="products-table">
          <div class="search">
            <input type="text" id="searchInput" placeholder="Search by Name">
          </div>
          <span class="new-product-txt" style="margin-bottom: 30px">
            STORE PRODUCTS
          </span>
          <div class="filter">
            <select id="statusFilter">
              <option value="all">All</option>
              <option value="PAUSE">Pause</option>
              <option value="PROCESS">Process</option>
              <option value="DELETE">Delete</option>
            </select>
          </div>
          <div class="table-wrapper">
            <table class="table table-bordered table-hover">
              <thead class="thead-light">
                <tr class="thead-light">
                  <th scope="col">T/r</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Product Type</th>
                  <th scope="col">Product Size</th>
                  <th scope="col">Product Original Price</th>
                  <th scope="col">Product Discount Price</th>
                  <th scope="col">Product Left Count</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <% products.map(function(value, key) { %>
                <tbody style="background: white">
                  <td><%= key + 1 %></td>
                  <td><%= value.productName %></td>
                  <td><%= value.productCollection %></td>
                  <td>
                    <%= value.productCollection === "SHOES" ? value.productShoeSize :
                    value.productSize && value.productCollection === "KIDS" ? value.productKidsSize : value.productSize %>
                  </td>
                  <td><%= value.productOrgPrice %></td>
                  <td><%= value.productDisPrice %></td>
                  <td><%= value.productLeftCount %></td>
                  <td>
                    <select
                      class="spec-select new-product-status"
                      id="<%= value._id %>"
                    >
                      <option value="PAUSE" <%= value.productStatus === "PAUSE" ? "selected" : "" %> >PAUSE</option>
                      <option value="PROCESS" <%= value.productStatus === "PROCESS" ? "selected" : "" %> >PROCESS</option>
                      <option value="DELETE" <%= value.productStatus === "DELETE" ? "selected" : "" %> >DELETE</option>
                    </select>
                  </td>
                </tbody>
                <% }) %>
            </table>
          </div>
          
          <div
            class="long-input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button class="btn btn-primary" id="process-btn">
              New Product
            </button>
          </div>
        </div>
        <form
        onsubmit="return validateForm()"
          action="/admin/product/create"
          method="POST"
          class="product-container"
          enctype="multipart/form-data"
        >
          <div class="long-input" style="display: flex; align-items: center">
            <span class="new-product-txt">NEW PRODUCT DETAIL</span>
          </div>
          <div class="login-input-frame">
            <div class="long-input">
              <label>Product Name</label>
              <input
                type="text"
                placeholder="Name"
                name="productName"
                class="product-name"
              />
            </div>
            <input
              name="productStatus"
              value="PAUSE"
              class="product-status"
              hidden
            />
          </div>
          <div class="half-input-frame">
            <div class="half-input price">
              <label>Product Original Price</label>
              <input
                type="number"
                placeholder="Original price"
                name="productOrgPrice"
                class="product-org-price"
              />
            </div>
            <div class="half-input price">
              <label>Product Discount Price</label>
              <input
                type="number"
                placeholder="Discount price"
                name="productDisPrice"
                class="product-dis-price"
              />
            </div>
            <div class="half-input price">
              <label>Product Left Counts</label>
              <input
                type="number"
                placeholder="Counts"
                name="productLeftCount"
                class="product-left-count"
              />
            </div>
          </div>
          <div class="half-input-frame">
            <div class="half-input">
              <label>Product Type</label>
              <select class="product-collection" name="productCollection">
                <option value="MEN" selected>MEN</option>
                <option value="WOMEN">WOMEN</option>
                <option value="KIDS">KIDS</option>
                <option value="SHOES">SHOES</option>
              </select>
            </div>

            <div class="half-input" id="product-size">
              <label>Product Size</label>
              <select class="product-size" name="productSize">
                <option value="S" selected>S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="2XL">2XL</option>
              </select>
            </div>

            <div class="half-input" id="product-shoeSize" style="display: none">
              <label>Shoes Size</label>
              <select class="product-shoeSize" name="productShoeSize">
                <option value="38" selected>38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
              </select>
            </div>

            <div class="half-input" id="product-kidsSize" style="display: none">
              <label>Kids Size</label>
              <select class="product-kidsSize" name="productKidsSize">
                <option value="1-2 years" selected>1-2 years</option>
                <option value="3-4 years">3-4 years</option>
                <option value="5-6 years">5-6 years</option>
                <option value="7-8 years">7-8 years</option>
                <option value="9-10 years">9-10 years</option>
                <option value="11-12 years">11-12 years</option>
                <option value="13-15 years">13-15 years</option>
              </select>
            </div>
          </div>
          <div class="long-input">
            <label>Product Description</label>
            <textarea name="productDesc" class="product-desc"></textarea>
          </div>

          <div class="img-frame">
            <label>Product Images</label>
            <div class="media-frame">
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="1" id="image-section-1" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-one"
                  required
                  onchange="previewFileHandler(this, 1)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="2" id="image-section-2" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-two"
                  onchange="previewFileHandler(this, 2)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="3" id="image-section-3" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-three"
                  onchange="previewFileHandler(this, 3)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="4" id="image-section-4" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-four"
                  onchange="previewFileHandler(this, 4)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="5" id="image-section-5" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-five"
                  onchange="previewFileHandler(this, 5)"
                />
              </div>
              <input name="storeId" class="store-id" hidden />
            </div>
          </div>

          <div class="operation-buttons">
            <button class="btn btn-danger" id="cancel-btn">Cancel</button>
            <button type="submit" class="btn btn-primary" id="create-btn">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/products.js"></script>
</body>

<%- include('includes/footer') %>